body{
    background: rgb(239,240,33);
    background: linear-gradient(90deg, rgba(40,255,238,1) 14%, rgba(111,255,140,1) 38%, rgba(180,255,44,1) 65%, rgba(255,98,0,1) 96%);
    text-shadow: 2px 2px 2px #B69CFF;
}
#columns{
    column-count: 3;
    column-gap: 5px;
    text-shadow: 2px 2px 2px #B69CFF;
}

#move{
    background:plum; 
    width: 120px;
    height: 60px;
    transform: scale(5) rotate(720deg) translateX(125px) translateY(25px) skewX(10deg);
    outline: 2px ridge #000000;
    box-shadow:inset 2px 2px 2px 2px #545454


}

